a {
    display: inline-block;
    padding: 12px;
    padding-top: 22px;
    font-family: arial,sans-serif;
    text-decoration: none;
 }
 
 .app-wrapper .about_left a {
     text-decoration: none;
     color: #000; 
     font-size: 13px;
 }
 
 .app-wrapper .store_left a {
     text-decoration: none;
     color: #000;
     font-size: 13px;
 }
 
 .app-wrapper .gmail_right a {
     text-decoration: none;
     color: #000;
     font-size: 13px;
 }
 
 .app-wrapper .images_right a {
     text-decoration: none;
     color: #000;
     font-size: 13px;
 }
 
 .app-wrapper .grid_right a {
     text-decoration: none;
     color: #000;
     font-size: 13px;
 }
 
 .app-wrapper .notification_right a {
     text-decoration: none;
     color: #000;
     font-size: 13px;
 }
 
 .app-wrapper .user_right a {
     text-decoration: none;
     color: #000;
     font-size: 13px;
 }
 
 
 .right {
   float: right;
  }
